/* create a reusable button class that will have a background color #4F46E5 and text color white and I will be using it in my whole website*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%; 
}

.btn {
    background-color: #4F46E5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
/* add hover effect to the button class */
.btn:hover {
    background-color: #4338CA;
}

.deactivate-btn {
    color: black;
    cursor: pointer;
    border: 2px solid #CBD5E1;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: white;
    font-size: 16px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.nav-items {
    display: flex;
    gap: 20px;
}
.nav-items a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.nav-items a:hover {
    text-decoration: underline;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}
.mobile-menu {
    display: none;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 3px;
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 50%;  
}
.mobile-menu a {
    color: black;
    text-decoration: none;
    padding: 10px 0;
    font-size: 18px;
}
.mobile-menu a:hover {
    text-decoration: underline;
}
.mobile-menu.active {
    display: flex;
}

.hero {
    background: linear-gradient(to bottom, #ffffff, #9497de);
    text-align: center;
    margin-bottom: 20px;
  }
  

.hero-heading {
    font-size: 76px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sub-heading {
    font-size: 28px;
    margin-bottom: 20px;
}

.brand-section {
    background-color: #F8FAFC;
    padding: 20px 0;
    margin-bottom: 20px;
}
.brand-logos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.brand-logo {
    width: 100px;
    height: auto;
    margin: 10px;
    flex: 1 1 160px; /* Flex-grow, flex-shrink, and flex-basis */
}

.features-section {
    background-color: #ffffff;
    padding: 50px 0;
    margin-bottom: 20px;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

.features-heading {
    font-size: 36px;
    font-weight: bold;
    display: flex;
    max-width: 900px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.features-header {
    margin-bottom: 24px;
}

.features-subheading {
    font-size: 24px;
    margin-bottom: 24px;
    line-height: 1.5;
    font-weight: 100;
}

.feature-card {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.feature-description {
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.5;
}

.statistics-section {
    background-color: #f9fbff;
    padding: 50px 0;
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}
.lock-icon {
    width: 20px;
    height: auto;
    margin-bottom: 20px;
    background-color: #EEF2FF;
    padding: 8px;
    border-radius: 100%;
}
.statistics-heading {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 17px;
}

.statistics-subheading {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 100;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.statistics-description {
    font-size: 16px;
    color: #777;
}

.statistics-blocks {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.statistics-block {
    padding: 20px;
    border-right: 2px solid #CBD5E1;
    text-align: center;
    flex: 1 1 200px; 
}

.statistics-block .statistics-heading {
    color: #4F46E5;
}

.statistics-block .statistics-description {
    font-weight: 700;
    color: black;
}

.procrastinators-section {
    background-color: #ffffff;
    padding: 50px 0;
}

.procrastinators {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.procrastinators-blocks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 30px;
}

.procrastinators-subheading {
    font-size: 24px;
    font-weight: 600;
    color: #343a40;
    margin-bottom: 10px;
}

.procrastinators-description {
    color: #6c757d;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    max-width: 500px;
}

.procrastinators-heading {
    margin-bottom: 10px;
}

.procrastinators-block {
    border-left: 3px solid #4F46E5;
    padding: 10px;
}

.procrastinators-image {
    max-width: 600px;
}
/* Responsive Design */

@media (max-width: 768px) {
    .nav-items {
        display: none;
    }
    .btn {
        display: none;
    }

    .deactivate-btn {
        display: none;
    }

    .hamburger {
        display: flex;
    }
    .mobile-menu.active {
        display: flex;
    }

    
    .hero-heading {
        font-size: 20px;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .statistics-section {
        padding-left: 5px;
        padding-right: 5px;
    }

    .statistics-heading {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 17px;
    }

    .statistics-subheading {
        font-size: 20px;
    }

    .statistics-blocks {
        flex-direction: column;
    }

    .statistics-block {
        border-bottom: 2px solid #CBD5E1;
    }

    .procrastinators {
        flex-direction: column;
        align-items: center;
    }

    .procrastinators-section {
        padding: 10px;
    }

    .procrastinators-image {
        width: 100%;
    }
}
@media (min-width: 769px) {
    .mobile-menu {
        display: none;
    }
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.badge {
    background-color: #EEF2FF;
    padding: 5px 10px;
    border-radius: 5px;
    width: 200px;
    font-size: 14px;
    margin-bottom: 20px;
}
.highlight {
    color: #ff6347; /* Tomato color */
}
.app-buttons {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}
.app-button {
    width: 150px;
    height: auto;
}
.dashboard-mockup {
    position: relative;
    margin-top: 20px;
}
.mockup-image {
    width: 100%;
    max-width: 1200px;
    height: auto;
}
.mobile-version-mockup {
    position: absolute;
    top: 20px;
    right: -50px;
    width: 200px;
    height: auto;
}